@font-face {
font-family: 'PlayfairDisplay-Regular';
src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.eot');
src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'PlayfairDisplay-Bold';
src: url('../fonts/Playfair_Display/PlayfairDisplay-Bold.eot');
src: url('../fonts/Playfair_Display/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'ProximaNovaRegular';
src: url('../fonts/ProximaNova/ProximaNova-Regular.eot');
src: url('../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'ProximaNovaBold';
src: url('../fonts/ProximaNova/ProximaNova-Bold.eot');
src: url('../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'ProximaNovaLight';
src: url('../fonts/ProximaNova/ProximaNova-Light.eot');
src: url('../fonts/ProximaNova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}